.header {
  display: flex;
  width: 100%;
  height: min-content;
  background-color: rgb(23, 23, 23);
  color: white;
}

.header .logo {
  font-size: 10px;
  padding: 10px 20px;
  font-variation-settings: 'wght' 300;
  transition: all 0.3s ease;
}
